# Project exclude paths
/venv/
.venv
.pytest_cache
api-autotests/tests/.pytest_cache
api-autotests/tests/allure_results
ui-autotests/.pytest_cache
ui-autotests/screenshots
ui-autotests/*.log
.idea
*.iml
